LiftAndShiftMvcApp.Web/Connected Services/ProductServiceReference/ProductManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiftAndShiftApp.Models.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiftAndShiftApp.Models.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductModel" nillable="true" type="tns:ProductModel" />
  <xs:complexType name="ArrayOfProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductModel" nillable="true" type="tns:ProductModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductModel" nillable="true" type="tns:ArrayOfProductModel" />
</xs:schema>